* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows:repeat(4, auto);
    grid-template-areas: "overview"
                          "about-me"
                          "main2"
                          "footer";
}


/* OVERVIEW */
.overview-page {
    display: grid;
    grid-area: overview;
    grid-template-rows: 50px 450px;
    grid-template-areas: 
    "header"
    "overview-content";

    background-color: rgb(37, 203, 187);
    color: white;
    padding: 10px 20px;

    border-bottom: solid 10px black;
}

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 500px;
    align-items: center;
}

.name {
    font-size: 13px;
}

.main-nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 30px;
}

.main-nav ul li {
    list-style: none;
}

.main-nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(37, 203, 187);
    background-color: rgba(255, 255, 255, 0.817);
    border-radius: 4px;
    padding: 7px 10px;
}

.overview-content {
    display: grid;
    grid-area: overview-content;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-areas: ". content .";
}

.overview-content-group {
    grid-area: content;
}

.overview-content-header {
    display: grid;
    line-height: 90px;
    font-size: 70px;
    padding-bottom: 20px;
}


/* ABOUT ME */
.about-me {
    display: grid;
    grid-area: about-me;
    grid-template-rows: 80px 180px 180px;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas: 
    ". about-me-header ."
    ". about-me-content ."
    ". technical-skills .";
    border-bottom: solid 10px black;
}

.about-me-heading {
    display: grid;
    grid-area: about-me-header;
    place-content: center;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(1, 1, 71);
}

.about-me-intro {
    grid-area: about-me-content;
    line-height: 24px;
}

.introduction-title {
    font-size: 16px;
    line-height: 40px;
}

.technical-skills {
    grid-area: technical-skills;
}

.technical-skills-title {
    font-size: 16px;
}

.technical-skills > ul {
     column-count: 2;
     column-gap: 80px;
     padding: 20px 40px;
}

/* PORTFOLIO */
.portfolio {
    display: grid;
    grid-area: main2;
    gap: 10px;
    background-color: rgb(202, 121, 121);
    grid-template-rows: 50px 1fr;
    border-bottom: solid 10px black;
}

.portfolio-title {
display: grid;
justify-content: center;
}

.title-cards {
    display: grid;
    justify-items: center;
    padding: 0 10px 10px 10px;
    gap: 10px;
    grid-template-columns:repeat(3, 1fr);
}

.title, .title2, .title3{
    display: grid;
    border: solid 2px  black;
    justify-items: center;
    
}

.title-cards > p {
    display: grid;
    justify-items: center;
}


.experience {
    display: grid;
    grid-template-rows: 50px repeat(2, 1fr);
    gap: 10px;
    background-color: lightblue;
    /* border-bottom: solid 10px black; */
}

.experience-header {
    display: grid;
    font-size: 24px;
    text-align: center;
    padding-bottom: 5px;
}

.job-title-subheader {
    display: grid;
    font-size: 18px;
    font-weight: bolder;
}

