/* Page One */

* {
  margin: 0;
  padding: 0;
}

.page-one {
    background-color: #006d77;
    color: white;
    display: grid;
    grid-template-rows: 0.5fr 5fr;
    height: 100vh;
}

.top {
    background-color: #83c5be;
    display: grid;
    grid-template-columns: 400px 3fr 1fr 1fr 1fr;
        align-items: center;
}

.name {
    font-size: 20px;
    padding-left: 20px;
}
.navigation {
    justify-self: center;
    align-self: center;
}

.main-one {
    display: grid;
    align-content: center;
    justify-content: center;
    place-content: center;
}


.main-one div {
    display: grid;
    align-content: center;
    justify-content: center;
    place-content: center;
}

.main-one>div>p {
    display: grid;
  place-content: center;
font-size: 40px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    line-height: 60px;
    font-weight: 500;
}

.page-two {
  height: 100vh;
}

.page-two {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 
  ". about-us ."
  ". intro ."
  ". tech-skills .";
  row-gap: 90px;
}

.page-two > div {
  display: grid;
  justify-items: center;
  row-gap: 90px;
}

.page-two > div >  h1 {
  font-size: 80px;
}

.page-two > div > h2 {
  font-size: 45px;
}

.page-two > .intro > p {
  font-size: 25px;
}

.page-two .about-us {
  grid-area: about-us;
padding-top: 40px;
}
.page-two .intro {
  grid-area: intro;
}

.page-two .tech-skills {
  grid-area: tech-skills;
}

.page-two .tech-skills > ul > li {
  font-size: 30px;
}

.page-three {
    display: grid;
    grid-template-areas:
        "header" 1fr
        "title" 4fr/
        1fr;
    gap: 10px;
    height: 100vh;
}

.portfolio {
    grid-area: header;
    background-color: #83c5be;
}

.cards {
    display: grid;
    grid-area: title;
    grid-template-columns: 1fr 1fr 1fr;
}