*{
    margin: 0; 
}

hr{
    height: 5px;
    background-color: black;
    border: none;
}
.header{
    background-color: rgba(112, 194, 233, 0.801);
    padding:20px;
    
}

.headerinfor{
    justify-content:right;
}

.mainpage{
    background-color: rgba(112, 194, 233, 0.801);
    text-align: center;
    padding: 75px;
}

.mainpage > p{
    max-width: 1fr;
}

.aboutme{
    text-align: center;
    padding: 75px;
}

    /* portfolio cards */
.title{
        text-align: center;
        background-color: rgba(209, 133, 216, 0.438); 
 }
.cards{
    display:grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-areas: "card1 card2 card3";
    gap: 30px;
    background-color:rgba(209, 133, 216, 0.438);
    justify-content: center;
    padding: 50px;
    
}

.card1{
    grid-area: card1;
    border: solid rgba(14, 13, 13, 0.384);
    text-align:center;    
}
.card2{
    grid-area: card2;
    border: solid rgba(14, 13, 13, 0.384);
    text-align:center;
}
.card3{
    grid-area: card3;
    border: solid rgba(14, 13, 13, 0.384);
    text-align:center;
}

.cardtitle{
    text-align:center;
}
.readmore{
    background-color: rgb(66, 103, 222);
    border-radius: 8px;
    padding: 5px;
    color:rgba(19, 18, 18, 0.966);
    text-decoration: none;
    
}
.github{
    background-color: rgb(66, 102, 221);
    border-radius: 8px;
    padding: 5px;
    color:rgba(19, 18, 18, 0.966);
    text-decoration: none;
}
    /* portfolio ends */

    /* experience */
.experience{
    text-align: center;
    padding: 25px;
}

.experience > .jobtitle{
    color:black;
    padding:20px;
    font-size: 30px;
    text-align: left;
}
.experience > .extext{
     text-align: left;
     padding-left: 20px;
}
.footer{
    background-color:rgb(66, 103, 222);
}
/* experience end */
h2{
    font-size: 30px;

}