*{
    font-family: sans-serif;
    line-height: 1.5em;
    scroll-behavior: smooth;
}
body {
    margin:50px
}
h2 {
    text-align:center;
    font-weight: 700;
}
/* Header */
header {
    background-color: #4EB6AC;
    color:#E5FFFF;
}
.navbar {
    display:grid;
    grid-template-columns: repeat(2 ,1fr);
    margin:5px
}
.navbar ul {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    list-style-type:none; 
    grid-gap:5px;
    scroll-behavior: smooth;
    
}
.navbar span > h3 {
    font-size: 1.8em;
    padding:20px;
    margin:0

}
.navbar ul > li > a {
    background-color: white;
    color:#4EB6AC;
    font-weight: 700;
    margin:10px;
    text-decoration: none;
    text-align: center;
    padding:10px;
    border-radius: 10px;
}
.intro{
    display:grid;
    grid-template-areas:
    " lefttop  heading  righttop" 400px
    " leftbottom  para rightbottom" 200px/
    1fr    500px 1fr
    
}
.intro h1{
    display:grid;
    justify-content: center;
    font-size:3em;
    font-weight: 800;
    margin-bottom:0;
}
.intro .para{
    margin-left:auto;
    margin-right:auto;
    font-weight: 700;
    padding: 30px 30px 100px 20px;
    width:55ch
    
}

.intro p > span {
    color:black
}
.intro p > .underline {
    text-decoration: underline black;
    color:white;
    font-style: italic;
}
/* aboutMe */
.aboutMe{
    width:60ch;
    padding: 20px 100px 20px 250px;
    color:#1D313A
}
.aboutMe p{
    line-height: 2em;
    font-style: bold;
}
.skill {
    width:60ch;
    padding: 20px 100px 20px 250px;
    color:#1D313A
}
.skill h4 {
    margin:0;
    color:#1D313A

}
.skill-list{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
/* Portfolio */
.por-section{
    background-color: #FFEBEE;
    margin:0;
    padding-bottom:100px
}
.por-section h2{
    margin-top:0;
    margin-bottom:30px
}
.projects {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:10px;
    margin:10px;
    padding: 0 50px;
}
.por-section .projects .title1, .title2, .title3{
    border : 5px solid #AE1457;
    border-radius: 5px;
    display:grid;
    margin:10px;
    padding:20px;
    width:30ch;
    background-color: white;
    

}
.projects h3 {
    font-size: 1.5em;
}
.projects button{
    background-color: #AE1457;
    color:white;
    justify-content: center;
    align-items: center;
    padding:10px;
    width:220px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.1em;
    display:grid;
    justify-self: center;
}

.projects .git-repo {
    color:#AE1457;
    text-align:center;
    margin:20px

}

/* exprience */
.experience{
    width:60ch;
    padding: 20px 100px 20px 250px; 
    color:#1D313A
}
.experience p {
    line-height: 2em;
    width: 70ch;
}
.experience h4{
    font-size: 18px;
}
/* horizental line */
hr{
    border: 3px solid #1D313A;
    margin:0;
}
/* footer */
footer{
    background-color: #1D313A;
    height:50px;
    margin:0;
}
footer >p {
    color: white;
    padding:15px;
    margin:20px
}

