* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin:0;
}

h1, h2 {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  margin: 30px 0 10px 0;
}

p {
  margin: 0;
  padding: 0;
}

p+p {
  text-indent: 1em;
}

.aboutMe, .portfolio, .experience {
  border-top: 10px solid rgb(75, 75, 75);
  padding: 50px;
}

ul {
  list-style-type: disc;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.experience, .aboutMe {
  display: grid;
  place-content: center;
  grid-auto-columns: 50%;
}

.portfolio {
  background-color: rgb(255, 233, 236);
}

.projectCard {
  border: 10px rgb(200, 0, 100) solid;
  background-color: rgb(252, 248, 241);
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(255, 0, 128, 0.5);
  width: 250px;
  padding: 10px 40px 30px 40px;
  margin: 40px 0;
}

.button {
  background-color: rgb(200, 0, 100);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color:white;
  margin: 20px 20px;
}

.GithubLink, a {
  color: rgb(200, 0, 100);
  text-decoration: underline;
  text-align: center;
}

.projectCardGrid {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.footer {
  margin:0;
  padding: 20px;
  width: 100%;
  background-color: grey;
  color: white;
  /* position: fixed;
  bottom: 0; */
}